body{
    height: 100vh;
    margin: 0;
}

/*Header section*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul{
    font-size: 18px;
    font-weight: 0;
    color: #cdced2;
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

/*Hero section*/

.heroimage{
    max-width: 50%;
    height: auto;
}

/*Info section*/

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infotitle{
    font-size: 20px;
    font-weight: bold;
}

.imagebox{
    display: flex;
    justify-content: center;
    gap: 25px;

}

.imageinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image{
    border-radius: 25px;
    border: 2px solid blue;
    height: 100px;
    width: 100px;
}

/*Quote section*/

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;


}

.qtext{
    font-size: 36px;
    text-align: center;
    font-style: italic;
    color: #1F2937;
}

.qauther{
    font-size: 20px;
    font-weight: 800;
    text-align: right;

}

/*Call to action section*/

.call{
    display: flex;

}

.calltoaction{
    flex: 3;
    background-color: #3882F6;
    border: 2px sold #3882F6;
    padding: 10px 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.gutter{
    flex: 1;
    margin: 10px;
}

.actiontext{
    display: flex;
    flex-direction: column;
}

.actionbutton button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}

.statementtitle{
    margin-bottom: -15px;
    color: white;
    font-weight: bold;
    font-size: 20px;

}

.statementtext{
    color: whitesmoke;
}


/*Footer sections*/

.footer{
    background-color: #1F2937;
    color: white;
    padding: 25px;
    font-size: 20px;
    text-align: center;
}


