body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

.content{
    display: flex;
    gap: 5px;
    flex: 15;
}

.footer{
    flex: 1;
    background-color: #1F2937;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    font-size: 18px;
    color: #E5E7EB;
}